<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              placeholder="email"
              formControlName="email"
              matInput
              type="email"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              placeholder="password"
              formControlName="password"
              matInput
              type="password"
            />
          </mat-form-field>
          <div
            *ngIf="form.get('password').touched && form.get('password').invalid"
          >
            <mat-error *ngIf="form.get('password').hasError('invalid_password')"
              >It must have a number</mat-error
            >
            <mat-error *ngIf="form.get('password').hasError('minlength')"
              >It must contains more than 6 digits</mat-error
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              placeholder="password"
              formControlName="confirmPassword"
              matInput
              type="password"
            />
          </mat-form-field>
          <div *ngIf="form.get('confirmPassword').touched && form.errors">
            <mat-error *ngIf="form.hasError('invalid_match')"
              >The password doesn't match</mat-error
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-radio-group
            formControlName="type"
            arias-label="Select an option"
          >
            <mat-radio-button value="company">Company</mat-radio-button>
            <mat-radio-button value="customer">Customer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="companyNameField.invalid" class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input
              placeholder="company"
              formControlName="companyName"
              matInput
              type="text"
            />
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs">
          <mat-card-header>
            <mat-card-title
              >La suma de los dos inputs debe ser menor a 100</mat-card-title
            >
          </mat-card-header>
          <mat-form-field>
            <mat-label>First number</mat-label>
            <input
              placeholder="number"
              formControlName="number"
              matInput
              type="number"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Second number</mat-label>
            <input
              placeholder="number2"
              formControlName="number2"
              matInput
              type="number"
              autocomplete="off"
            />
          </mat-form-field>
          <div *ngIf="form.get('number2').touched && form.errors">
            <mat-error *ngIf="form.hasError('invalid_sum')"
              >The sum is invalid</mat-error
            >
          </div>
        </div>
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">
        Registro
      </button>
    </mat-card-actions>
  </mat-card>
</form>
